{% extends "layout.html" %}

{% block title %}
    Book Look | Home
{% endblock %}

{% block main %}
    <p></p>
    <form action="/search" method="post" align="center">
        <div class="form-group">
            <input autofocus class="form-control" name="q" placeholder="Book title, author, or ISBN #" type="text"/>
            <button class="btn btn-primary" type="submit">Search</button>
        </div>
    </form>
    <br/>
    <p>
        Welcome to Book Look: a web application built on the <a href="https://goodreads.com">Goodreads</a> API. In the search bar above, type in the book title you want, the author you're interested in, or the ISBN number you're curious about. Then hit enter or the "Search" button to begin your journy. Feel free to contact us with comments, questions, or concerns. Enjoy the adventure!
    </p>
{% endblock %}
