{% extends "layout.html" %}

{% block title %}
    Book Look | Log In
{% endblock %}

{% block main %}
    <p></p>
    <form action="/login" method="post" align="center">
        <div class="form-group">
            <input autofocus class="form-control" name="username" placeholder="Username" type="text"/>
        </div>
        <div class="form-group">
            <input class="form-control" name="password" placeholder="Password" type="password"/>
        </div>
        <button class="btn btn-primary" type="submit">Log In</button>
    </form>
{% endblock %}
