$bg-main: #f2f2f2;

%full-width {
    width: 100%;    
}

.navbar {
    @extend %full-width;
}

::selection {
    color: white;
    background: dimgray;
}

nav {
    
    color: darkgray;
    h1 {
        margin-right: 3%;
        color: aliceblue;
    }
    .sr-only {
        font-weight: bold;
    }
}

  /* On screens that are 600px wide or less, make the columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 1000px) {
    .navbar-text {
        visibility: collapse;
    }
    
  }

#main {
    background-color: $bg-main;
}

.textbox {
    padding-top: 3%;
    padding-bottom: 5%;
    text-align: left;
    width: 75%;
}

nav + img {
    @extend %full-width;
    position: relative;
    z-index: -1;
}